body {
    font-family: "Text","Helvetica Neue","Helvetica","Arial",sans-serif;
a {text-decoration: none;}
}
img {
    object-fit: cover;
    width: 100%;
}

.product-info, .footer{
    max-width: 980px;
   
}