
$colorBlack: #1d1d1f;
$colorWhite: #ffffff;
body {
    font-family: "Text","Helvetica Neue","Helvetica","Arial",sans-serif;
}
img {
    object-fit: cover;
    width: 100%;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    @media screen and (min-width:731px) {
        max-width: 980px;
      }
}
sup {
    z-index: -1;
}
.uno {
    background-color: #000000;
}
.header-nav__list{
 width: 100%;
 @media screen and (min-width:731px){
     background-color: gray;
 }
 @media screen and (max-width:730px) {
     color: gray;
     height: 100vh;
     width: 100vw;
     position: absolute;
     top: -9999px;
     left:0; 
     display: flex;
     justify-content: center;
     z-index: 1;
 }
    ul{ display: flex;
        justify-content: space-between;
     
        @media screen and (max-width:730px) {
            flex-direction: column;
            height: 50vh;
            width: 90vw;
            padding-top: 2%;
            display: flex;
        }
        @media screen and (min-width:731px) {
            background-color: #ffffff;
            justify-content: space-between;
        }

        li{ display: inline;
            @media screen and (max-width:730px){ display: block;
            width: 100%;
            border-bottom:1px solid  gray;
            padding-bottom: 2%;
            }
            a {
             text-decoration: none;
             color: gray;
             @media screen and (max-width:730px) {
                 color: gray;
                 width: 100%;

             }
            }

        }
    }
}


@media screen and (max-width:730px) {
    .header-nav {
    height: 45px;
    align-items: center;
    background-color:rgb(49, 49,50);
    }
    .header-nav__btn:checked ~ .header-nav__list {
    top:40px;
    z-index: 9999;
    }

    .header-nav__menu {
    width: 20px;
    height: 30px;
    justify-content: center;
    padding-top: 5px;
    
    
        i {
        position: absolute;
        top:0;
        left:50%
        }
    }
    
    .nav-btn__line{
        width: 100%;
        height: 4px;
        border-radius: 4px;
        display: block;
        margin-bottom: 10%;
        margin-top: 10%;
        position: relative;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background- 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
        
    }
    .header-nav__menu span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
    .header-nav__btn:checked ~ .header-nav__menu {
       
        padding-bottom: 10px;
    }
    .header-nav__btn:checked ~ .header-nav__menu span {
      opacity: 1;
      transform: rotate(45deg) translate(5px, -10px);
      background: white;
      
    }
    .header-nav__btn:checked
      ~ .header-nav__menu
      span:nth-last-child(1) {
      opacity: 2;
      transform: rotate(-46deg) scale(1, 1) ;
    
    }
    .header-nav__btn:checked
      ~ .header-nav__menu
      span:nth-last-child(2) {
      transform: rotate(40deg) translate(-1px, -4px);
  
    }
    .header-nav__search {
        background-color: transparent;
        border:none;
    }
    .billboard-card {
        height: 600px;
        width: 100%;
        @media screen and (min-width:731px) {
            width: 50%;
            
        }
    }

}
.info-text {
    @media screen and (min-width:731px) {
        max-width: 980px;
        
    }
}

        
@media screen and (min-width:731px) {
    .header-nav__search {
        display: none;
    }
    
}